.navbar {
    background-color: #477abd;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.35);
    z-index: 10;
    position: fixed;
}

.logo {
    width: auto;
    height: 80px;
    margin: 10px;
    margin-left: 50px;
}

.menu {
    margin-right: 60px;
}

.nav-link, .footer-link {
    text-decoration: none;
    position: relative;
    display: inline;
    color: #FFF;
    padding: 10px;
    padding: 20px 0px;
    margin: 0px 20px;
}

.nav-link:hover, .footer-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #f1840f, #e97d0c, #e17709, #d97006, #d16a03, #cd6602, #c96101, #c55d00, #c35a00, #c25600, #c05301, #be4f01);
}

.footer-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #477abd, #4175b8, #3b70b2, #356cad, #2e67a8, #2963a3, #245f9f, #1e5b9a, #185695, #115290, #094d8c, #004987);
}

.nav-link-ltr::before, .footer-link::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before, .footer-link:hover::before {
    width: 100%;
}

.footer-dark, .footer-light {
    position: relative;
    bottom: 0;
    top: 0;
    min-width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-dark {
    background-image: linear-gradient(to right, #9196a4, #969baa, #9aa0b0, #9fa6b7, #a4abbd);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-dark ul {
    display: flex;
}

.footer-dark ul li {
    list-style: none;
    color: #FFF;
}
